body {
  margin: 0;
  padding: 0px;
}

.container {
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  padding-top: 1%;
  padding-bottom: 1%;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}



input[type='text'] {
  flex: 1;
  margin-right: 21px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.quality-box {
  margin-left: 9px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 65%;
}


button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #111111;
  color: white;
  cursor: pointer;
}
.logo {
  width: 140px;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}
* {
  border: none;
  outline: none;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
  


#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#search-box {
  position: fixed;
  top: 0;
  left: 110;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}






.signin-box {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.signin-button {
  margin-left: 10px;
  padding: 10px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.movie-info {
  
  font-family: Arial, sans-serif;
  text-align: justify;
  max-width: 800px; /* Change this value to your desired max width */
  margin-left:auto; /* Add this line */
  margin-right:auto; /* Add this line */
  text-align: center;
  
}
.movie-description-button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal {
  border: 1px solid #ffffff2d;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff2d;
}
.movie-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie {
  margin: 10px;
  width: 300px;
  text-align: center;
}


button:hover {
  background-color: #0060df;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; /* adjust the height as needed */
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.pagination-item {
  margin: 0.5rem;
}
.fa {
  font-size: 24px;
}
.pagination-link {
  display: block;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: #333;
  font-size: 24px;
  text-decoration: none;
}

.active .pagination-link {
  background-color: #007bff;
  color: #fff;
}

.pagination .fa-chevron-left,
.pagination .fa-chevron-right {
  display: block;
  color: #333;
}

.pagination .fa-chevron-left:hover,
.pagination .fa-chevron-right:hover {
  color: #007bff;
}



.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie {
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ffffff2d;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff4d;
}
.movie img {
  border-radius: 10px;
}


h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
